table, td, th {
    border: 1px solid black;
    border-collapse:collapse;
}

th {
    background-color: grey;
    color: white;
}
tr:hover {
    background-color: lightgrey;
}

a {
    margin-right: 20px;
}

input {
    width: 500px;
}

footer {
    font-style: italic;
    font-weight: bold;
}

.input-small {
    width: 30px;
    border-width: 0px;
    text-align: center;
}

.switch-read-only {
    margin-left: 10px;
    margin-right: 10px;
}

.switch-patient-id {
    margin-left: 10px;
    margin-right: 10px;
}

.div-random, .div-read-only, .div-patient-id {
    height: 60px;
    display: flex;
    align-items: center;
}

.new-button {
    margin-top: 20px;
}