table, td, th {
    border: 1px solid black;
    border-collapse:collapse;
}

th {
    background-color: grey;
    color: white;
}
tr:hover {
    background-color: lightgrey;
}

a {
    margin-right: 20px;
}

input {
    width: 500px;
}

footer {
    font-style: italic;
    font-weight: bold;
}

.input-narrow {
    width: 40px;
    border-width: 0px;
    text-align: center;
}

.input-with-parent-font {
    font: inherit;
}

.switch-read-only {
    margin-left: 10px;
    margin-right: 10px;
}

.switch-patient-id {
    margin-left: 10px;
    margin-right: 10px;
}

.div-random, .div-read-only, .div-patient-id, .title-note-list {
    height: 60px;
    display: flex;
    align-items: center;
}

.button-new {
    margin-top: 20px;
}

.button-save {
    width: 50px;
}

.button-submit {
    width: 80px;
    height: 100%;
}

.form-note {
    display: flex;
    flex-direction: column;
}

.form-note-element {
    display: flex;
    align-items: center;
}

.form-note-label {
    width: 80px;
}

.form-note-input {
    width: 80%;
}
