table, td, th {
    border: 1px solid black;
    border-collapse:collapse;
}

table {
    margin-bottom: 40px;
    width: 80%;
}

.div-note-list {
    border: 1px solid black;
    width: 90%;
}

.af-paging {
    margin-left: 10px;
}

th {
    background-color: grey;
    color: white;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active,
.MuiTableSortLabel-root:hover,
.MuiTableSortLabel-icon {
    color: inherit !important;
}

tr:hover {
    background-color: lightgrey;
}

.form-filter {
    display: flex;
}

.filter-input {
    background-color: lightgrey;
}

#input-filter-id {
    width: 50px;
}

#input-filter-dob {
    width: 70px;
}

a {
    margin-right: 20px;
}

footer {
    font-style: italic;
    font-weight: bold;
}

.input-narrow {
    width: 40px;
    border-width: 0px;
    text-align: center;
}

.input-with-parent-font {
    font: inherit;
}

.switch-read-only {
    margin-left: 10px;
    margin-right: 10px;
}

.switch-patient-id {
    margin-left: 10px;
    margin-right: 10px;
}

.form-random, .div-read-only, .div-patient-id, .title-note-list {
    height: 60px;
    display: flex;
    align-items: center;
}

.button-new {
    margin-bottom: 20px;
}

.button-save {
    width: 50px;
    margin-bottom: 20px;
}

.button-submit {
    width: 80px;
    height: 100%;
}

.form-note {
    display: flex;
    flex-direction: column;
}

.form-note-element, .title-note  {
    display: flex;
    align-items: center;
}

.form-note-label {
    width: 80px;
}

.form-note-input {
    width: 80%;
}

.text-note-overview {
    margin-left: 20px;
    height: 12px;
    width: 95%;
    resize: none;
    overflow: hidden;
}

.text-note-overview:hover {
    background-color: lightgrey;
}

.af-form__file-input {
    width: 80%;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}

#file-to-be-uploaded  {
    border-right-color: rgb(229, 229, 229);
    border-right-style: dashed;
    border-right-width: 2px;
}